<div class='center'>
    <h1>Welcome To Commercails Board</h1>
    <br>
    <div class='content_center'>
        <%= form_tag login_path do%>
            <%= label_tag :username, 'User Name:'%>
            <%= text_field_tag :username %><br>
            <%= label_tag :password, 'Password:'%>
            <%= password_field_tag :password %> <br><br>
            <%= submit_tag :'Log In'%>
        <% end %><br>
        <p>OR</p>
        <%= button_to 'Log In with Github', '/auth/github', method: :get, class: 'button' %>
    </div>
</div>