<div class='center'>
    <div class='content_center'>
        <h1>Create New User</h1>
        <br>
        <%= form_for @user, url: signup_path do |f|%>
            <%= f.label :username, 'User Name:'%>
            <%= f.text_field :username %><br>
            <%= f.label :email, 'User Email:'%>
            <%= f.email_field :email %><br>
            <%= f.label :phone_number, 'User Phone Number:'%>
            <%= f.text_field :phone_number %><br>
            <%= f.label :password, 'User Password:'%>
            <%= f.password_field :password %><br><br>
            <%= f.submit :'Create User' %>
        <% end %>  
    </div>
</div>