<div class='center'>
    <div class='content_center'>
        <h1>Create New User</h1>
        <br>
        <%= form_for @user, url: signup_path do |f|%>
            <% if @user.errors.any? %>
                <% @user.errors.full_messages.each do |message| %>
                    <div class='error_message'><%= message %></div>
                <% end %>
            <% end %>
            <%= f.label :username, 'User Name:'%>
            <%= f.text_field :username %><br>
            <%= render partial: 'form', locals: {form: f, submit: 'Create User'} %>
        <% end %>  
    </div>
</div>