<h1>New User</h1>

<%= form_for @current_user, url: signup_path do |f|%>
    <p>User Name: <%= f.text_field :username %></p>
    <p>Email: <%= f.email_field :email %></p>
    <p>Phone Number: <%= f.text_field :phone_number %></p>
    <p>Password: <%= f.password_field :password %></p>
    <%= f.submit :'Create User' %>
<% end %>