<div class='center'>
    <div class='info'>
        <p><strong>Name: </strong><%= @current_user.username %></p>
        <p><strong>Email: </strong><%= email(@current_user) %><p>
        <p><strong>Phone Number: </strong><%= phone_number(@current_user) %><p><br>
        
        <button><%= link_to "Edit #{@current_user.username}'s Info", edit_user_path(@current_user)%></button><br>
        <button><%= link_to 'See My Commercials', user_commercials_path(@current_user) %></button><br>
        <button><%= link_to 'See Commercials', commercials_path %></button>
    </div>
</div>