<%= link_to 'Log Out', logout_path, method: :delete %><br>
<%= link_to 'Edit User Info', edit_user_path(@user) %> <br>
<h1><%= @user.username %></h1>

<p>Email: <%= @user.email ? @user.email : 'None'%><p>
<p>Phone Number: <%= @user.phone_number ? @user.phone_number : 'None'%><p>
<%= link_to 'See My Comments', ''%><br>

<%= link_to 'See My Commercials', ''%><br>

<%= link_to 'See Commercials', ''%><br>
