<%= link_to 'Log Out', logout_path, method: :delete %><br>
<%= link_to 'Edit User Info', edit_user_path(@current_user) %> <br>
<h1><%= @current_user.username %></h1>

<p>Email: <%= @current_user.email ? @current_user.email : 'None'%><p>
<p>Phone Number: <%= @current_user.phone_number ? @current_user.phone_number : 'None'%><p>
<%= link_to 'See My Comments', ''%><br>

<%= link_to 'See My Commercials', user_commercials_path(@current_user) %><br>

<%= link_to 'See Commercials', commercials_path %><br>
