<h2><%= "#{@user.username}'s " if @user %>Commercials</h2>
<%= button_to('Create New Commercial', new_user_commercial_path, method: :get) if @user %><br>
<% if !params[:user_id] %>
    <%= form_tag commercials_path, method: :get do %>
        <%= label_tag :uid, 'Poster:' %>
        <%= select_tag "uid", options_from_collection_for_select(@users, "id", "username"), include_blank: true %>
        <%= label_tag :state_id, 'State:' %>
        <%= select_tag "state_id", options_from_collection_for_select(@states, "id", "name"), include_blank: true %>
        <%= submit_tag :'Filter' %>
    <% end %>
<% end %>

<div class='content'>
    <% @commercials.each do |commercial|%>
        <div class='info_commercial'>
            <h4 class='text_wrap'><strong><%= link_commercial(commercial, @user) %></strong></h4>
            <p><strong>State: </strong><%= commercial.state.name %></p>
            <p><strong>Updated Date: </strong><%= commercial.updated_at %></p>
            <p class='text_wrap'><%= commercial.description %></p>
        </div>
    <% end %>
</div>