<%= button_to('Edit Commercial', edit_user_commercial_path(@user, @commercial), method: :get) if @user == @current_user%><br>
<%= button_to('Delete Commercial', delete_commercial_path(@commercial)) if @user == @current_user%><br>
<%= link_back(@user) %>

<div class='center'>
    <div class='content_center'>
        <h2><%= @commercial.title %></h2>
        <p class='info'><%= @commercial.description %></p>

        <h3>Contect: </h3>
        <div class='info'>
            <p>State: <%= @commercial.state.name %></p>
            <p>Email: <%= @user.email ? @user.email : 'None'%></p>
            <p>Phone Number: <%= @user.phone_number ? @user.phone_number : 'None'%></p>
        <div>
    </div>
</div><br><br>

<%= form_for :comment, url: comments_path do |f|%>
    <%= f.text_area :content, size: "100x5", placeholder: 'Leave a comment here.' %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :commercial_id, value: @commercial.id %><br>
    <%= f.submit :'Comment' %>
<% end %><br><br>

<% @commercial.comments.each do |comment|%>
    <div>
        <h3><%= comment.user.username %> said:</h3>
        <p class='info'><%= comment.content %></p>
        <% if comment.user == @current_user %>
            <%= form_tag delete_comment_path(comment), method: :delete do %>
                <%= hidden_field_tag :commercial_id, @commercial.id %>
                <%= submit_tag :'Delete Comment'%>
            <% end %>
        <% end %>
    </div>
<% end %>